#sidebar {
  height: 100%;
  width: 15%;
  position: fixed;
  overflow: auto;
}

#main {
  margin-left: 15%;
}

.controlPanelMessage {
  display: inline;
}

li {
  white-space: nowrap;
}

.choiceItem {
  height: 2em;
  line-height: 2em;
}

.choiceItem:hover {
  background-color: lightgray;
}

.choiceItem:active {
  background-color: darkgray;
}
